:root {
  font-family: 'MuseoModerno', cursive;
  font-size: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 200;
}

h1 {
  margin: 0;
  font-weight: 200;
}

body {
  display: grid;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

h1 button {
  all: unset;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  padding: 0;
  font-weight: 200;
  background-color: inherit;
}

h1 button:hover {
  font-weight: 500;
  cursor: pointer;
}

h1 button::after {
  display: block;
  content: attr(aria-label);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.active {
  font-weight: 500;
  color: #ee582a;
}

#controls{
  display: flex;
  justify-content: space-between;
}

#controls button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  border: 2px solid #ee582a;
  background-color: ivory;
  box-shadow: 1px 3px #999;
  font-weight: 200;
}

#controls button:active {
  background-color: #fcf8c4;
  box-shadow: 1px 1px #666;
  transform: translateY(2px);
}

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 1rem;
  border-radius: 1rem;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  background: #ee582a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ee582a;
  cursor: pointer;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}